<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- templates/home.html -->                        # new
<h1>Página de Inicio del Tablón de Anuncios</h1>    # new
<ul>                                                # new
    {% for post in all_posts_list %}                # new              # new
        <li>{{ post.text }}</li>                    # new
    {% endfor %}                                    # new
</ul>                                               # new
</body>
</html>